<ion-header>

  <ion-navbar>
    <ion-title>{{profile?.basic.username}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only><ion-icon *ngIf="connected" name=""></ion-icon><ion-icon *ngIf="!connected"name=""></ion-icon></button>
    </ion-buttons> -->
  </ion-navbar>
<!--
    <div *ngIf="connected&&show" style="background:green;color:white;text-align:center">You are connected!</div>
    <div *ngIf="!connected" style="background:red;color:white;text-align:center">No internet connection</div> -->
</ion-header>


<ion-content style="background-color:black;">
  <!--div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div-->
  <ion-fab bottom left>
    <button *ngIf="check"ion-button (tap)="openSettings($event)" color="light" clear><ion-icon style="font-size:40px" color="light" name="ios-cog"></ion-icon></button>
      <button *ngIf="!check"ion-button (tap)="openChat($event)" color="light" clear><ion-icon style="font-size:40px" color="light" name="create"></ion-icon></button>
  </ion-fab>
  <div style="background:#1a1a1a;color:white" padding>
    <ion-row>
      <ion-col>

          <img-loader useImg style="width:100%;height:100%" [src]="profile?.basic.currentPic"></img-loader>

      </ion-col>
      <ion-col>
        <ion-row><ion-col></ion-col></ion-row>
        <ion-row>
          <ion-col style="color:white">
            <h2>
              {{ profile?.basic.username }}
              <ion-badge color="light">
                #{{profile?.basic.rank +1 }}
              </ion-badge>
            </h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>*{{profile?.basic.bio}}*</h4>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

    <ion-list style="color:white">
      <!--there will be an *ngFor here once you finish building the whole user. You will list the title and then the info provided.-->
      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">#</ion-label>
        <div item-content>{{profile?.properties.digits}}</div>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">Sefer</ion-label>
        <div item-content [innerText]="profile?.properties.sefer"></div>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">Fews</ion-label>
        <div item-content [innerText]="profile?.properties.fews"></div>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">Relationship Status</ion-label>
        <div item-content [innerText]="profile?.properties.relationshipStatus"></div>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">Interested In</ion-label>
        <div item-content [innerText]="profile?.properties.interestedIn"></div>
      </ion-item>

      <ion-item no-lines style="color:white">
        <ion-label style="color:rgb(155, 158, 148)">Education</ion-label>
        <div item-content [innerText]="profile?.properties.education"></div>
      </ion-item>
      <button color="dark" ion-item no-lines (click)="seePosts()" block>See Posts</button>
    </ion-list>

</ion-content>
