page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: black;
    position: absolute;
    color: white;
  }
   ion-scroll { white-space: nowrap; };
}
