<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (tap)="cancel()" clear>
        <ion-icon color="light" style="font-size:45px"(tap)="cancel()" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-row>
        <ion-col col-2>
        <ion-avatar style="position:absolute;bottom:5px;left:10px" start>
          <img style="width:45px;height;45px;border-radius:100%;"[src]="cpic">

        </ion-avatar>
      </ion-col>
      <ion-col>
        <div no-padding style="position:absolute;bottom:5px;left:10px" style="color:white">
          <h5>{{oUser}}</h5>
          <div end style="color:grey" *ngIf="online.on&&!typing">
            online
          </div>
          <div no-padding style="color:grey" *ngIf="!online.on">
            last seen {{online.time | momentjs}}
          </div>
          <div no-padding style="color:grey" *ngIf="online.on&&typing">
            typing...
          </div>
        </div>
      </ion-col>
    </ion-row>





      <!-- <ion-buttons end>
        <button ion-button icon-only><ion-icon *ngIf="connected" name=""></ion-icon><ion-icon *ngIf="!connected"name=""></ion-icon></button>
      </ion-buttons> -->

  </ion-navbar>

    <!-- <div *ngIf="connected&&show" style="background:green;color:white;text-align:center">You are connected!</div>
    <div *ngIf="!connected" style="background:red;color:white;text-align:center">No internet connection</div> -->
</ion-header>

<input type="file" #fileInput style="height: 0px;width:0px" accept="image/*"name="files[]" (change)="onChangeInput($event)" />

<ion-content #content style="background:black">

  <ion-fab bottom right>
    <button color="light"(click)="presentConfirm()" *ngIf="spoken" ion-fab mini><ion-icon name="trash"></ion-icon></button>
  </ion-fab>
  <!--  -->

  <div class="message-wrap">
    <!-- <div class="message" [class.left]="true" [class.right]="false" *ngIf="typing">
      <div class="msg-content">
        <span class="triangle"></span>
        ...
      </div>
    </div> -->
    <div
    class="message"
    [class.left]="message.sender === oUser"
    [class.right]="message.sender === user"
    *ngFor="let message of messages">
    <div class="msg-detail">
      <div style="user-select: auto !important" class="msg-content">
          <span class="triangle"></span>
          <img-loader *ngIf="message.picture!==''" style="width:inherit;height:350px" [src]="message.picture" useImg></img-loader>
          <p class="line-breaker" [innerHtml]="message.content|linky"></p>
          <ion-note style="color:grey;font-size:12px">
            {{message.time|momentjs}}&nbsp;&nbsp;&nbsp;
            <ion-icon color="light" name="checkmark" *ngIf="message.sent&&!message.read&&message.sender === user"></ion-icon>
            <ion-icon color="primary" name="checkmark" *ngIf="message.read&&message.sender === user"></ion-icon>
          </ion-note>
        </div>
      </div>
    </div>
  </div>





  <!-- <div style="color:white" *ngFor="let message of messages">{{message.content}}</div> -->
  </ion-content>
  <ion-footer style="background:transparent">
    <!--ion-row style="background:#1a1a1a;">
      <ion-col>
        <ion-textarea #textt id="textarea" block [(ngModel)]="message" autosize style="width:275px;background:#1a1a1a;color:grey;overflow:scroll;max-height:100px; min-height:25px" placeholder="Message"></ion-textarea>
      </ion-col>
      <ion-col>
        <ion-buttons end>
          <button ion-button clear><ion-icon color="light" style="font-size:25px;" name="send"></ion-icon></button>
        </ion-buttons>
      </ion-col>
    </ion-row-->
    <ion-row style="color:white">
    <ion-col text-center col-2>
      <ion-spinner *ngIf="uploading"color="light"></ion-spinner>
      <ion-icon *ngIf="complete" color="light" name="checkmark"></ion-icon>
    </ion-col>
    <ion-col text-center col-10>
      <div>{{currentFile}}</div>
    </ion-col>
  </ion-row>
    <ion-grid style="background:#1a1a1a">
      <ion-row *ngIf="spoken" wrap>
        <ion-col style="position:relative"text-center col-1>
          <ion-icon
            (click)="handleEmoji($event)" color="light" style="position:absolute;left:5px;bottom:10px;font-size:20px;" name="happy">
          </ion-icon>
        </ion-col>
        <ion-col  style="position:relative" text-center col-1>
          <ion-icon  (click)="showChoices()" color="light" style="position:absolute;left:8px;bottom:10px;font-size:20px;" name="camera"></ion-icon>
        </ion-col>
        <ion-col style="position:relative" col-8>
          <ion-textarea item-content #text id="textarea" block (keyup)="keydown($event)" [formControl]="messageCtrl" [(ngModel)]="message" autosize
          style="background:#1a1a1a;color:white;overflow:auto;max-height:100px;" placeholder="Message">
        </ion-textarea>
        </ion-col>
        <!--get an attache icon here that is clickable-->
        <ion-col style="position:relative" text-center col-2>
          <ion-icon (click)="sendMessage()"color="light" style="left:10px;bottom:9px;position:absolute;font-size:30px;"  name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </ion-col>
      </ion-row>
      <div *ngIf="!spoken">
      <button ion-button color="light" block (click)="habeshaHi()" block>Send a #habeshaHI!</button>
      </div>
    </ion-grid>
    <emoji-picker *ngIf="_isOpenEmojiPicker" [(ngModel)]="message"></emoji-picker>
  </ion-footer>
