<ion-header>

  <ion-navbar>
    <ion-title>Edit Your Profile</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only><ion-icon *ngIf="connected" name=""></ion-icon><ion-icon *ngIf="!connected"name=""></ion-icon></button> -->
    <!-- </ion-buttons> -->
    <!-- <ion-buttons>
      <button icon-only clear ion-button (click)="saveAndGoToProfile()">
        <ion-icon color="light" name="checkmark"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

    <!-- <div *ngIf="connected&&show" style="background:green;color:white;text-align:center">You are connected!</div>
    <div *ngIf="!connected" style="background:red;color:white;text-align:center">No internet connection</div> -->

</ion-header>


<ion-content style="background-color:black;">
  <!--div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div-->
  <input type="file" #fileInput style="height: 0px;width:0px" accept="image/*"name="files[]" (change)="onChangeInput($event)" />

  <ion-fab top right>
    <button ion-fab mini color="light" icon-only clear><ion-icon style="font-size:40px" color="dark" name="more"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab  (click)="saveAndGoToProfile()"><ion-icon color="dark"name="checkmark"></ion-icon></button>
      <button ion-fab (click)="exitToProfileWithoutSaving()"><ion-icon color="dark" name="close"></ion-icon></button>
      <button ion-fab (click)="logout()"><ion-icon color="dark" name="power"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div style="background:#1a1a1a;color:white" padding>
    <ion-row>
      <ion-col>
        <a (click)=showChoices($event)>
          <div>
            <img *ngIf="!uploading" style="width:100%;height:100%" [src]="profilec.basic.currentPic"/>
            <ion-spinner text-center style="top:15px" color="light" *ngIf="uploading"></ion-spinner>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <ion-row><ion-col></ion-col></ion-row>
        <ion-row>
          <ion-col>
            <h2>{{ profilec.basic.username }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-textarea [(ngModel)]="profilec.basic.bio" item-content #textt id="textarea" block ([ngModel])="post.content.desciption" autosize style="background:#121212;color:white;overflow:auto;max-height:200px;min-height:100px">
            </ion-textarea>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-list style="color:white">
      <!--there will be an *ngFor here once you finish building the whole user. You will list the title and then the info provided.-->
      <ion-item no-lines style="color:white">
        <ion-label stacked>Sefer | Mender</ion-label>
        <ion-input no-lines type="text" [(ngModel)]="profilec.properties['sefer']"></ion-input>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label stacked>Fews | Food</ion-label>
        <ion-input no-lines type="text" [(ngModel)]="profilec.properties['fews']"></ion-input>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label stacked>Relationship Status</ion-label>
        <ion-input no-lines type="text" [(ngModel)]="profilec.properties['relationshipStatus']"></ion-input>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label stacked>Interested In</ion-label>
        <ion-input no-lines type="text" [(ngModel)]="profilec.properties['interestedIn']"></ion-input>
      </ion-item>
      <ion-item no-lines style="color:white">
        <ion-label stacked>Timirt Dereja | Education</ion-label>
        <ion-input no-lines type="text" [(ngModel)]="profilec.properties['education']"></ion-input>
      </ion-item>
      <button ion-item (click)="goAbout()" no-lines style="color:white" text-center>About Dahlaq</button>
    </ion-list>


    <!--ion-card  *ngFor="let item of cardItems">
      <a (click)="detailPost(item)" style="background:black;" clear>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.user.avatar">
        </ion-avatar>
        <h2 style="color:white">{{item.user.name}}</h2>
        <p item-end style="color:grey">{{item.date}}</p>
      </ion-item>
      <div padding style="color:grey;"><ion-icon item-start name='ios-eye'></ion-icon>1</div>

      <img [src]="item.image">

      <ion-card-content>
        <p style="color:white">{{item.content}}</p>
      </ion-card-content>
      </a>
      <ion-row>
        <ion-col>
          <button ion-button color="light" clear small icon-start block>
              <ion-icon name='thumbs-up'></ion-icon>
              12| Like
            </button>
        </ion-col>
        <ion-col>
          <button ion-button color="light" clear small icon-start block>
              <ion-icon name='thumbs-down'></ion-icon>
              4| Dislike
            </button>
        </ion-col>
        <ion-col center text-center>
          <button ion-button color="light" clear small icon-start block>
              <ion-icon name='ios-redo'></ion-icon>
              25| Boost
          </button>
        </ion-col>
      </ion-row>
    </ion-card-->

  </div>
</ion-content>



<!--ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background:black;">

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list  *ngIf="page == 'main'">
      <ion-item style="color:white;">
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle color="dark" formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item style="color:white;">
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input  formControlName="option2"></ion-input>
      </ion-item>

      <ion-item style="color:white;">
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button style="color:white;" ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content-->
