<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!search">Chats</ion-title>
    <ion-buttons *ngIf="!search"end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="search" end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="search" (ionInput)="getItems($event)" placeholder="Search for Chats"></ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content style="background:black;">
  <ion-fab top right>
    <button ion-button mini (tap)="refreshList($event)" color="light" clear>
      <ion-icon style="font-size:40px" color="light" name="ios-cog"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <button ion-item  (click)="openChat(person)" *ngFor="let person of miniList">
      <ion-avatar item-start>
        <img [src]="person.currentPic"/>
      </ion-avatar>
      <h2>{{person.username}}</h2>
      <ion-note>{{person.bio}}</ion-note>
      <ion-badge color="light">#{{person.rank}}</ion-badge>
    </button>
  </ion-list>
  <hr/>
  <ion-list *ngIf="sorted">
    <button ion-item (click)="openChat(summary)"  *ngFor="let summary of people">
      <ion-avatar item-start>
        <img [src]="summary.currentPic"/>
      </ion-avatar>
      <div style="color:white;">
        <h2>{{summary.users[summary.oUid].username}}</h2>
        <ion-note>{{summary.lastMessage.content}}</ion-note>
      </div>
      <ion-badge color="light" *ngIf="(summary.users[uid].unread).length!==0" item-end>
        {{Object.keys(summary.users[uid].unread).length}}
      </ion-badge>
      <!--A badge showing number of unread messages in the chat.-->
      <!--ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options-->
    </button>
  </ion-list>
</ion-content>
