<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!search">Chats</ion-title>
    <ion-buttons *ngIf="!search"end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <!--ion-buttons *ngIf="search" end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons-->
    <!-- <ion-buttons end>
      <button ion-button icon-only><ion-icon *ngIf="connected" name=""></ion-icon><ion-icon *ngIf="!connected"name=""></ion-icon></button>
    </ion-buttons> -->
    <ion-searchbar *ngIf="search" (ionInput)="getItems($event)" placeholder="Search for Chats"></ion-searchbar>
  </ion-navbar>

    <div *ngIf="connected&&show" style="background:green;color:white;text-align:center">You are connected!</div>
    <div *ngIf="!connected" style="background:red;color:white;text-align:center">No internet connection</div>

</ion-header>


<ion-content style="background:black;">
  <!-- <ion-fab top right>
    <button ion-fab icon-only clear mini (tap)="refreshList($event)" color="light" clear>
      <ion-icon style="font-size:40px" color="light" name="refresh"></ion-icon>
    </button>
  </ion-fab> -->
  <!-- <ion-list>
    <ion-item no-lines>
    <div text-center>Suggested People</div>
      <ion-scroll scrollX="true" scroll-avatar>
          <ion-avatar><img (click)="openPerson(person)" *ngFor="let person of miniList" [src]="person.currentPic" class="scroll-item"/></ion-avatar>
      </ion-scroll>
    </ion-item>
    <button ion-item  (click)="openChat(person)" *ngFor="let person of miniList">
      <ion-avatar item-start>
        <img [src]="person.currentPic"/>
      </ion-avatar>
      <h2>{{person.username}}</h2>
      <ion-note>{{person.bio}}</ion-note>
      <ion-badge color="light">#{{person.rank}}</ion-badge>
    </button>
  </ion-list>-->
    <div text-center style="color:rgb(39, 39, 39);text-align:center" *ngIf="miniList.length===0">No suggested people right now. Refer people to Dahlaq to rank higher and get more people!</div>
  <ion-row style="background:#1a1a1a">
    <ion-col (click)=openPerson(person) *ngFor="let person of miniList" style="color:white">
      <img style="border-radius:100%" [src]="person.currentPic"/>
      <ion-note color="light">{{person.username}}</ion-note>
    </ion-col>
    <!-- <ion-col (click)=openPerson(miniList[1]) style="color:white">
      <img style="border-radius:100%" [src]="miniList[1].currentPic"/>
      <ion-note color="light">{{miniList[1].username}}</ion-note>
    </ion-col>
    <ion-col (click)=openPerson(miniList[2]) style="color:white">
      <img style="border-radius:100%" [src]="miniList[2].currentPic"/>
      <ion-note color="light">{{miniList[2].username}}</ion-note>
    </ion-col>
    <ion-col (click)=openPerson(miniList[3]) style="color:white">
      <img style="border-radius:100%" [src]="miniList[3].currentPic"/>
      <ion-note color="light">{{miniList[3].username}}</ion-note>
    </ion-col>
    <ion-col (click)=openPerson(miniList[4]) style="color:white">
      <img style="border-radius:100%" [src]="miniList[4].currentPic"/>
      <ion-note color="light">{{miniList[4].username}}</ion-note>
    </ion-col> -->
  </ion-row>
  <hr>
    <div text-center style="color:rgb(39, 39, 40);text-align:center" *ngIf="people.length===0">Talk to people on Dahlaq to add them to your chat list!</div>
  <ion-list *ngIf="sorted">
    <button ion-item no-lines (click)="openChat(summary)"  *ngFor="let summary of people">
      <ion-avatar item-start>
        <img [src]="summary.currentPic"/>
      </ion-avatar>
      <div style="color:white;">
        <h2>{{summary.users[summary.oUid].username}}</h2>
        <ion-note style="color:rgb(110,110,110)">{{summary.lastMessage.content}}</ion-note>
      </div>
      <ion-badge color="light" *ngIf="(summary.users[uid].unread).length!==0" item-end>
        {{Object.keys(summary.users[uid].unread).length}}
      </ion-badge>
      <!--A badge showing number of unread messages in the chat.-->
      <!--ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options-->
    </button>
  </ion-list>
</ion-content>
