.light-theme {
  .scroll-content {
    background-color: #fff !important;
    color: black;
  }
  .toolbar-background {
    background-color: #fff;
  }
  .header .toolbar-background {
    background-color: #fff;
  }
  .tabbar {
    background-color: #fff;
    color: #000;
  }
}
