.dark-theme {
  ion-content {
    background-color: #03040e;
    color: #fff;
  }

  .toolbar-title {
    color: #fff;
  }
  .header .toolbar-background {
    border-color: black;
    background-color: black;
  }

  .tab-button {
    background-color: #000;
    color: #fff;
  }
}
