<ion-header>
  <ion-navbar>
    Post Title
  </ion-navbar>
</ion-header>
<ion-content style="background:black;">
    <ion-row style="color:white">
      <ion-col>
        <ion-avatar>
          <img style="border-radius:100%"[src]="post.poster.profilePic">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col style="color:white">
            <h3>{{post.poster.username}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color:grey">
            {{post.time|momentjs}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  <ion-img *ngIf="post.content.imageUrl!==''"[src]="post.content.imageUrl"></ion-img>
  <div icon-center (click)="playVideo(post.content.videoUrl)" *ngIf="post.content.videoUrl!==''" style="height:50px" >
    <ion-icon style="font-size:25px;position:relative"></ion-icon>
  </div>
  <p style="color:white">{{post.content.description}}</p>
  <ion-row>
    <ion-col>
      <button *ngIf="!post.liked"(click)="post.like()" ion-button color="light" clear  small icon-start block>
          <ion-icon name='thumbs-up'></ion-icon>
          Like
        </button>
        <button *ngIf="post.liked"(click)="post.unlike()" ion-button color="primary" clear small icon-start block>
            <ion-icon name='thumbs-up'></ion-icon>
            Like
          </button>
    </ion-col>
    <ion-col>
      <button *ngIf="!post.disliked"(click)="post.dislike()"ion-button color="light" clear small icon-start block>
          <ion-icon name='thumbs-down'></ion-icon>
          Dislike
        </button>
        <button *ngIf="post.disliked"(click)="post.undislike()"ion-button color="primary" clear small icon-start block>
            <ion-icon name='thumbs-down'></ion-icon>
            Dislike
          </button>
    </ion-col>
    <ion-col center text-center>
      <button *ngIf="!post.reported" (click)="post.report()" ion-button color="light" clear small icon-start block>
          <ion-icon name='ios-redo'></ion-icon>
          Report
      </button>
      <button *ngIf="post.reported"(click)="post.unreport()" ion-button color="primary" clear small icon-start block>
          <ion-icon name='ios-redo'></ion-icon>
          Report
      </button>
    </ion-col>
  </ion-row>
  <ion-item style="color:white;text-align:center">
    Post Stats
  </ion-item>
  <div>
    <ion-item  style="color:white;"no-lines>
      {{post.likes}} people like this post
    </ion-item>
    <ion-item  style="color:white;"no-lines>
      {{post.dislikes}} people dislike this post
    </ion-item>
    <ion-item no-lines  style="color:white;">
      {{post.reports}} people reported this post for advertisment
    </ion-item>
    <ion-item no-lines style="color:white;">
      {{post.reach}} people reached so far ({{post.reach/post.poster.desiredReach*100}}%)
    </ion-item>
  </div>
  <ion-footer>
    <!--button ion-button *ngIf="post.user.digits===self.digits" color="danger" block>Delete Post</button-->
  </ion-footer>
</ion-content>
