<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="light">Skip Ahead</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background:#1a1a1a" no-bounce>
  <ion-slides pager="true" centeredSlides="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>

      <img  class="splash-logo" />
      <h2 class="slide-title">While we create your fabulous new account, take this crash-course (keep swiping right :D). You'll thank us! </h2>
      <p>Psst...There's a huge surprise at the end!</p>
    </ion-slide>
    <ion-slide *ngFor="let slide of slides">

      <img class=" splash-logo" />

      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>

      <img  class="splash-logo" />

      <h2 class="slide-title">And for the surprise...</h2>
      <p>Dahlaq is on the verge of becoming completely unblockable. You read right! Dahlaq is dedicated to providing you uninterrupted access to information. We hope you enjoy using our app as much as we did making it. Go to our about page to find out more (in your profile settings). Have fun!</p>
        <div padding>
          <button ion-button icon-end color="light" block (click)="startApp()">
            Enter Dahlaq
          </button>
        </div>
    </ion-slide>
  </ion-slides>
</ion-content>
