<ion-header>

  <ion-navbar>
    <ion-title>Posts from {{profile?.basic.username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content color="dark" style="background:black">
  <!--ion-searchbar color="dark" (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar
  [virtualScroll]="userPosts" approxItemHeight="250px"
  *virtualItem="let post"
-->
<div class="message-wrap">
  <div
  class="message"
  [class.left]="true"
  *ngFor="let post of posts">
  <div class="msg-detail">
    <div style="user-select: auto !important" class="msg-content">
        <!-- <span class="triangle"></span> -->
        <ion-item no-lines style="background:transparent">
          <ion-avatar item-start>
            <img-loader useImg [src]="post.poster.profilePic"></img-loader>
          </ion-avatar>
            <h2 style="color:white;user-select: auto !important">{{post.poster.username}}</h2>
            <ion-note style="color:grey">
              <ion-icon item-start name='ios-eye'></ion-icon>
              {{post.reach}}
            </ion-note>
          <p item-end style="color:grey">{{post.time|momentjs}}</p>
        </ion-item>

        <div style="user-select: auto !important"text-center *ngIf="post.content.imageUrl!==''||post.content.videoUrl!==''"padding>
          <img-loader useImg style="max-height:200px" *ngIf="post.content.imageUrl!==''" [src]="post.content.imageUrl"></img-loader>
          <div style="height:200px;background:black" text-center icon-center (click)="playVideo(post.content.videoUrl)" *ngIf="post.content.videoUrl!==''">
            <ion-icon color="light" style="font-size:50px;position:relative;top:75px" name="play"></ion-icon>
          </div>
        </div>
        <p padding style="top:5px"class="line-breaker" [innerHtml]="post.content.description|linky"></p>
        <div>
          <ion-row>
            <ion-col>
              <button *ngIf="!post.liked"(click)="post.like()" ion-button color="light" clear  small icon-start block>
                  <ion-icon name='thumbs-up'></ion-icon>
                  {{post.likes}}| Like
                </button>
                <button *ngIf="post.liked"(click)="post.unlike()" ion-button color="primary" clear small icon-start block>
                    <ion-icon name='thumbs-up'></ion-icon>
                    {{post.likes}}| Like
                  </button>
            </ion-col>
            <ion-col>
              <button *ngIf="!post.disliked"(click)="post.dislike()"ion-button color="light" clear small icon-start block>
                  <ion-icon name='thumbs-down'></ion-icon>
                  {{post.dislikes}}| Dislike
                </button>
                <button *ngIf="post.disliked"(click)="post.undislike()"ion-button color="primary" clear small icon-start block>
                    <ion-icon name='thumbs-down'></ion-icon>
                    {{post.dislikes}}| Dislike
                  </button>
            </ion-col>
            <ion-col center text-center>
              <button *ngIf="!post.reported" (click)="post.report()" ion-button color="light" clear small icon-start block>
                  <ion-icon name='ios-redo'></ion-icon>
                  {{post.reports}}| Report
              </button>
              <button *ngIf="post.reported"(click)="post.unreport()" ion-button color="primary" clear small icon-start block>
                  <ion-icon name='ios-redo'></ion-icon>
                  {{post.reports}}| Report
              </button>
            </ion-col>
          </ion-row>
        </div>
        <!-- <ion-note style="color:grey;font-size:12px">

        </ion-note> -->
      </div>
    </div>
  </div>
</div>
<ion-infinite-scroll (ionInfinite)="pullToAddMore($event)">
    <ion-infinite-scroll-content color="light"
    loadingSpinner="circles"
    loadingText="Loading more of your posts..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
