<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!search">The Ranks</ion-title>
    <ion-buttons *ngIf="!search"end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="search" end>
      <button ion-button icon-only (click)="searchOn()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="search"  ([ngModel])="searchTerm" [formControl]="searchCtrl" (ionInput)="getItems()" placeholder="Username..."></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:black;">
  <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-item *ngIf="vm.notor!==null" >
    <ion-label>Rank on</ion-label>
    <ion-select ([ngModel])= "basis">
      <ion-option value="1">Fame</ion-option>
      <ion-option value="2">Notoreity</ion-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems;let i = index">
      <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic"/>
          </ion-avatar>
        <div style="color:white;">
          <h2>{{item.name}}</h2>
          <h3>{{item.bio}}</h3>
        </div>
        <!-- <div item-end icon-right><ion-icon color="light" name="star" >{{3*1/i}}</ion-icon></div> -->
        <ion-badge item-end>#{{i+1}}({{item.fame}})</ion-badge>
      </button>

      <!--ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options-->
    </ion-item-sliding>
    <ion-infinite-scroll (ionInfinite)="pullToAddMore($event)">
      <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more ranks..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
