page-cards {

.top{
  z-index: inherit;
};
 ion-scroll { white-space: nowrap; };
$spinner-ios-bubbles-color:#fff;
$loading-md-spinner-color:#fff;
$loading-md-background:clear;
$loading-md-text-color:#fff;
$loading-md-spinner-ios-color:#fff;
};
