<ion-header>

  <ion-navbar>
    <ion-title>Posts</ion-title>
    <!--ion-buttons end>
      <button ion-button clear (click)="doLogout()">Root</button>
    </ion-buttons-->
  </ion-navbar>

</ion-header>


<ion-content style="background:black;">
  <ion-refresher style="color:white"(ionRefresh)="refresher($event)">
   <ion-refresher-content style="text-color:white;color:white"
    pullingIcon="arrow-dropdown"
    pullingText="#Refresh"
    refreshingSpinner="circles"
    refreshingText="Getting More..."></ion-refresher-content>
 </ion-refresher>
 <ion-spinner *ngIf="ready!==true" name="bubbles"></ion-spinner>
  <ion-list [virtualScroll]="viewables" approxItemHeight="60px">
    <ion-card  *virtualItem="let post">
      <a (click)="post.detailPost(post)" style="background:black;" clear>
      <ion-item>
        <ion-avatar item-start>
          <ion-img [src]="post.userImage"></ion-img>
        </ion-avatar>
          <h2 style="color:white">{{post.poster.username}}</h2>
          <ion-note style="color:grey">
            <ion-icon item-start name='ios-eye'></ion-icon>
            {{post.reach}}
          </ion-note>
        <p item-end style="color:grey">{{post.time|momentjs}}</p>
      </ion-item>

      </a>
      <ion-img *ngIf="post.content.imageUrl!==''"[src]="post.content.imageUrl"></ion-img>
      <div icon-center (click)="playVideo(post.content.videoUrl)" *ngIf="post.content.videoUrl!==''" style="height:50px" >
        <ion-icon style="font-size:25px;position:relative"></ion-icon>
      </div>
      <a (click)="post.detailPost(post)" style="background:black;" clear>
      <ion-card-content>
        <p style="color:white">{{post.content.description|truncate:150:'...Click to read more.'}}</p>
      </ion-card-content>
      </a>
      <ion-row>
        <ion-col>
          <button *ngIf="!post.liked"(click)="post.like()" ion-button color="light" clear  small icon-start block>
              <ion-icon name='thumbs-up'></ion-icon>
              {{post.likes}}| Like
            </button>
            <button *ngIf="post.liked"(click)="post.unlike()" ion-button color="primary" clear small icon-start block>
                <ion-icon name='thumbs-up'></ion-icon>
                {{post.likes}}| Like
              </button>
        </ion-col>
        <ion-col>
          <button *ngIf="!post.disliked"(click)="post.dislike()"ion-button color="light" clear small icon-start block>
              <ion-icon name='thumbs-down'></ion-icon>
              {{post.dislikes}}| Dislike
            </button>
            <button *ngIf="post.disliked"(click)="post.undislike()"ion-button color="primary" clear small icon-start block>
                <ion-icon name='thumbs-down'></ion-icon>
                {{post.dislikes}}| Dislike
              </button>
        </ion-col>
        <ion-col center text-center>
          <button *ngIf="!post.reported" (click)="post.report()" ion-button color="light" clear small icon-start block>
              <ion-icon name='ios-redo'></ion-icon>
              {{post.reports}}| Report
          </button>
          <button *ngIf="post.reported"(click)="post.unreport()" ion-button color="primary" clear small icon-start block>
              <ion-icon name='ios-redo'></ion-icon>
              {{post.reports}}| Report
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="pullToAddMore($event)">
      <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more of your posts..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  <!--ion-footer>
    <div>
      <button ion-item no-lines text-center
      clear icon-only
  (click)="toggled = !toggled"
  [(emojiPickerIf)]="toggled"
  [emojiPickerDirection]="'top'"
  (emojiPickerSelect)="handleEmoji($event)">
        <ion-icon color="light" style="position:relative;top:0px;font-size:20px;" name="happy"></ion-icon>
      </button>


    </div>

  </ion-footer-->
</ion-content>
